<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">


	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Swiper CSS -->
	<link rel="stylesheet" href="css/swiper.min.css">

	<!-- Styles -->
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/login.css">
</head>
<body>
	<div class="container align-items-center">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header gradient-bg p-4">
					<div class="d-flex justify-content-center">
						<h3>Login</h3>
					</div>
				</div>
				<div class="card-body">
					<form>
						<div class="input-group form-group p-2">
							<div class="input-group-prepend">
								<span class="gradient-bg input-group-text">
									<i class="fa fa-user-circle" aria-hidden="true"></i>
								</span>
							</div>
							<input type="text" class="form-control" placeholder="Username">

						</div>
						<div class="input-group form-group p-2">
							<div class="input-group-prepend">
								<span class="gradient-bg input-group-text">
									<i class="fa fa-key" aria-hidden="true"></i>
								</span>
							</div>
							<input type="password" class="form-control" placeholder="Password">
						</div>
						<div class="input-group form-group p-2 remember">
							<input type="checkbox"><span>Remember Me</span>
						</div>
						<div class="form-group my-3">
							<input type="submit" value="Login" class="button float-right gradient-bg" style="margin-right: 0">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>