@using Microsoft.AspNetCore.Identity
@using Taurus.Areas.Identity.Models
@using Taurus.Helper;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<!DOCTYPE html>
<html>
<head>
    <title>MedArt | @ViewData["Title"]</title>
    <link rel="icon" href="~/images/logo_medart.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/toasty.js/dist/toasty.min.css" />
    <link href="~/css/simple-sidebar.css" rel="stylesheet">
    <script src='~/lib/jquery/dist/jquery.min.js'></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src='~/js/jquery.collapsible.min.js'></script>
    <script src='~/js/swiper.min.js'></script>
    <script src='~/js/jquery.countdown.min.js'></script>
    <script src='~/js/circle-progress.min.js'></script>
    <script src='~/js/jquery.countTo.min.js'></script>
    <script src='~/js/jquery.barfiller.js'></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/moment-with-locales.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/notification.css">
</head>
<body>
    <div class="content toggled" id="wrapper">
        <div id="sidebar-wrapper" class="d-none d-sm-block toggled">
            <div class="sidebar-heading"><h2>Queue List </h2></div>
            <div id="queueing-rooms" class="list-group list-group-flush">
                
            </div>
        </div>

        <header class="site-header">
            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            <div class="site-branding d-flex align-items-center">
                                <a class="d-block" href="/" rel="home"><img class="d-block" src="/images/logo.png" alt="logo"></a>
                            </div><!-- .site-branding -->

                            <nav class="site-navigation d-flex justify-content-end align-items-center">
                                <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                    <li class="current-menu-item"><a href="/">Home</a></li>
                                    <li><a href="/Panel">Rooms</a></li>
                                    <li><a href="/Question">Questions</a></li>

                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <div class="dropdown show">
                                            <li class="dropdown-toggle" href="#" role="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-bell" id="notification-icon"></i>
                                            </li>

                                            <div class="dropdown-menu notification-dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <h6 style="color:black" class="dropdown-header">Notifications</h6>

                                                <div id="notificationsContainer" class="notifications-container">

                                                </div>

                                            </div>
                                        </div>
                                        @if (!User.IsInRole("Doctor"))
                                        {
                                            <div id="bookmark-dropdown" class="dropdown show">
                                                <li class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-bookmark" id="bookmark-icon"></i>&nbsp;<span id="bookmarkCount"></span>
                                                </li>

                                                <div class="dropdown-menu notification-dropdown-menu" aria-labelledby="dropdownMenuLink" id="bookmark">
                                                    <h6 style="color:black" class="dropdown-header">Bookmarks</h6>

                                                    <div id="bookmarksContainer" class="notifications-container">

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }


                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <li>
                                            <a href="/Profile">@User.Identity.Name</a>
                                        </li>
                                        <li>
                                            <a href="/Logout">Logout</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="d-flex justify-content-center" href="/Login">Login</a>

                                        </li>
                                        <li>
                                            <a class="d-flex justify-content-center" href="/Register">Register</a>

                                        </li>
                                    }
                                </ul>
                            </nav><!-- .site-navigation -->

                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->



        </header><!-- .site-header -->

        @RenderBody()

        <span id="queue-list" class="float d-none d-sm-block">
            <i class="fa fa-list my-float"></i>
        </span>

        <footer class="site-footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="foot-about">
                                <h2><a href="#"><img src="/images/logo.png" alt=""></a></h2>

                                <p>Welcome to Taurus</p>
                                <p class="copyright">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div><!-- .foot-about -->
                        </div><!-- .col -->

                        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                            <div class="foot-contact">
                                <h2>Contact</h2>

                                <ul class="p-0 m-0">
                                    <li><span>Address: </span>8 Ton That Thuyet, Cau Giay, Ha Noi</li>
                                    <li><span>Phone: </span>+84 33 664 3363</li>
                                    <li><span>Email: </span>admin@taurus</li>
                                </ul>
                            </div>
                        </div><!-- .col -->

                        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                            <div class="foot-links">
                                <h2>Useful Links</h2>
                                <ul class="p-0 m-0">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/Panel">Rooms</a></li>
                                    <li><a href="/Question">Questions</a></li>
                                </ul>
                            </div><!-- .foot-links -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .footer-widgets -->
        </footer><!-- .site-footer -->

        @if (SignInManager.IsSignedIn(User))
        {            
            <script>
                function cancelQueue(event, element, sessionId) {                    
                    event.preventDefault();
                    if (confirm("Do you want to cancel this queue?")) {                        
                        $.post("@Url.Action("CancelSession", "Session")", { id: sessionId })
                        .done(function (res) {                            
                            window.toast.success(res.data);
                            $(element).closest("a").replaceWith("Join a room now.")
                        })
                        .fail(function (resp) {
                            window.toast.error("Something is wrong");
                            });
                        return false;
                    }                    
                }

                $(document).ready(function () {
                    $("#queue-list").on("click", function () {
                        $("#wrapper").toggleClass("toggled");
                    });

                    

                    window.toast = new Toasty();
                    window.connection = new signalR.HubConnectionBuilder().withUrl("/notificationHub").build();
                    window.connection.on("ReceiveNotifications", (data) => {
                        data = JSON.parse(data);
                        var hasUnread = false;

                        $("#notificationsContainer").html("");
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Status === "UNREAD") hasUnread = true;
                            $("#notificationsContainer").prepend(
                                `<a class="dropdown-item dropdown-notification ${data[i].Status === "UNREAD" ? "notification-unread" : "notification-read"}" style="color: black" href="#">
                                                                                                            <div class="notifications-body">
                                                                                                                <p class="notification-texte"><b>${data[i].Title}</b></p>
                                                                                                                <p class="notification-texte">${data[i].Description}</p>
                                                                                                                <p class="notification-date text-muted">
                                                                                                                    <i class="fa fa-clock-o" aria-hidden="true"></i> ${moment(data[i].CreatedAt).format('dddd, DD MMMM, hh:mm ')}
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </a>`
                            );
                        }
                        if (hasUnread) {
                            $('#notification-icon').addClass('text-danger')
                        } else {
                            $('#notification-icon').removeClass('text-danger')
                        }
                    });

                    window.connection.on("receiveSessions", (data) => {
                        data = JSON.parse(data);
                        console.log(data);
                        $('#bookmarksContainer').html('');
                        $('#queueing-rooms').html('');

                        if (data.length > 0) {                            
                            $('#bookmarkCount').text(`(${data.length})`)
                            $('#bookmark-icon').addClass('text-danger')
                        } else {
                            window.connection.invoke("GetPendingSessions");
                            $('#queueing-rooms').html("Join a room now.")
                            $('#bookmark-icon').removeClass('text-danger')
                        }

                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Url == "") {
                                $('#queueing-rooms').append(
                                    `<a href="${data[i].Url}" class="list-group-item list-group-item-action bg-light" id="headingE">
                                                    <button type="button" class="btn btn-primary btn-sm my-2">
                                                        <span class="badge badge-light">${data[i].NumberLeft}</span>
                                                        <span>More to your turn</span>
                                                    </button>
                                                    <i class="fa fa-times cancel-queue-btn" onclick="cancelQueue(event, this, ${data[i].Id})" aria-hidden="true" style="float:right"></i>
                                                    <h6>${data[i].Title}</h6>
                                                </a>`
                                )

                                $("#bookmarksContainer").prepend(
                                    `<a class="dropdown-item dropdown-notification notification-read" style="color: black" href="#">
                                                                                                            <div class="notifications-body">
                                                                                                                <p class="notification-texte">${data[i].Message}</p>
                                                                                                            </div>
                                                                                                        </a>`
                                )
                            }
                            else {
                                window.toast.success(data[i].Message);
                                console.log(data);
                                $('#queueing-rooms').append(
                                    `<a href="${data[i].Url}" class="list-group-item list-group-item-action bg-light" id="headingE">
                                                    <button type="button" class="btn btn-primary btn-sm my-2">
                                                        <span class="badge badge-success">0</span>
                                                        <span>Click here to enter your room</span>
                                                    </button>
                                                    <h6>${data[i].Title}</h6>
                                                </a>`
                                )

                                $("#bookmarksContainer").prepend(
                                    `<a target="_blank" class="dropdown-item dropdown-notification notification-read" style="color: black" href="${data[i].Url}">
                                                                                                            <div class="notifications-body">
                                                                                                                <p class="notification-texte">${data[i].Message}</p>
                                                                                                            </div>
                                                                                                        </a>`
                                )
                            }
                        }
                    });

                    window.connection.start().then(function () {
                        $("#notification").on("click", function () {
                            window.connection.invoke("SetReadNotifications");
                        })
                    });
                });
            </script>
        }

        <script src='~/js/custom.js'></script>
        <script src="~/lib/toasty.js/dist/toasty.min.js"></script>
        <script src="~/js/ajax-loading.js"></script>
        <script>
            var loading = $.loading({
                ajax: true,
                id: 'ajaxLoading',
                zIndex: '1000',

                // background color
                background: 'rgba(232, 236, 241, 1)',

                // minimum duration
                minTime: 200,

                // CSS styles
                radius: '4px',
                width: '90px',
                height: '90px',

                // loading spinner
                imgPath: '/images/ajax-loader.gif',
                imgWidth: '30px',
                imgHeight: '30px',

                // loading text
                tip: 'Loading',
                fontSize: '14px',
                fontColor: '#000000'
            });

        </script>
</body>
</html>