{
    ViewData["Title"] = "Contact";
}


<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Pacient’s Testimonials</h2>
            </div>
        </div>
    </div>

    <!-- Swiper -->
    <div class="testimonial-slider">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="testimonial-bg-shape">
                        <div class="swiper-container testimonial-slider-wrap">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo.</p>
                                    </div><!-- .entry-content -->

                                    <div class="entry-footer">
                                        <figure class="user-avatar">
                                            <img src="images/user-1.jpg" alt="">
                                        </figure><!-- .user-avatar -->

                                        <h3 class="testimonial-user">Russell Stephens <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .swiper-slide -->

                                <div class="swiper-slide">
                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo.</p>
                                    </div><!-- .entry-content -->

                                    <div class="entry-footer">
                                        <figure class="user-avatar">
                                            <img src="images/user-2.jpg" alt="">
                                        </figure><!-- .user-avatar -->

                                        <h3 class="testimonial-user">Russell Stephens <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .swiper-slide -->

                                <div class="swiper-slide">
                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo.</p>
                                    </div><!-- .entry-content -->

                                    <div class="entry-footer">
                                        <figure class="user-avatar">
                                            <img src="images/user-3.jpg" alt="">
                                        </figure><!-- .user-avatar -->

                                        <h3 class="testimonial-user">Russell Stephens <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .swiper-slide -->

                                <div class="swiper-slide">
                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo.</p>
                                    </div><!-- .entry-content -->

                                    <div class="entry-footer">
                                        <figure class="user-avatar">
                                            <img src="images/user-4.jpg" alt="">
                                        </figure><!-- .user-avatar -->

                                        <h3 class="testimonial-user">Russell Stephens <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .swiper-slide -->
                            </div><!-- .swiper-wrapper -->

                            <div class="swiper-pagination-wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="swiper-pagination position-relative flex justify-content-center align-items-center"></div>
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .container -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .testimonial-slider -->
</section><!-- .testimonial-section -->
<div class="contact-page-short-boxes">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="opening-hours h-100">
                    <h2 class="d-flex align-items-center">Get in Touch</h2>

                    <div class="contact-form">
                        <div class="container">
                            <div class="row">

                                <div class="col-12  col-md-4">
                                    <input type="text" placeholder="Name">
                                </div><!-- col-4 -->

                                <div class="col-12 col-md-4">
                                    <input type="email" placeholder="E-mail">
                                </div><!-- col-6 -->

                                <div class="col-12 col-md-4">
                                    <input type="text" placeholder="Subject">
                                </div>

                                <div class="col-12">
                                    <textarea name="name" rows="12" cols="80" placeholder="Message"></textarea>
                                </div>

                                <div class="col-12">
                                    <input type="submit" name="" value="Send Message" class="button gradient-bg">
                                </div>
                            </div><!-- row -->
                        </div>
                    </div><!-- contact-form -->
                </div>
            </div>


        </div>
    </div>
</div>
<div class="subscribe-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h2>Subscribe to our newsletter</h2>

                <form>
                    <input type="email" placeholder="E-mail address">
                    <input class="button gradient-bg" type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>