@{
    ViewData["Title"] = "Home";
}

<div class="swiper-container hero-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-content-wrap" style="background-image: url('images/123medical.jpg')">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                            <header class="index-carousel-header">
                                <h1>Chat with Doctors <br>Realtime</h1>
                            </header><!-- .entry-header -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->

        <div class="swiper-slide hero-content-wrap" style="background-image: url('images/hero.jpg')">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                            <header class="index-carousel-header">
                                <h1>Valuable<br>Medical Advices</h1>
                            </header><!-- .entry-header -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->
    </div><!-- .swiper-wrapper -->

    <div class="pagination-wrap position-absolute w-100">
        <div class="swiper-pagination d-flex flex-row flex-md-column"></div>
    </div><!-- .pagination-wrap -->
</div><!-- .hero-slider -->

@if (User.IsInRole("Doctor"))
{
    <div class="homepage-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="appointment-box the-profile-wrap">
                        <h2 class="d-flex align-items-center">Make a Live Room!</h2>
                        <form method="post" action="@Url.Action("CreateRoom", "Room")" class="d-flex flex-wrap justify-content-between">

                            <input type="text" placeholder="Title" name="Title">

                            <input type="number" placeholder="Price (per min)" name="Price">

                            <input type="number" placeholder="Quota" name="Quota">

                            <input class="button gradient-bg" type="submit" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="homepage-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12"><center>
                    <iframe src="https://www.youtube.com/embed/J9JJDC6nCdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center></div>
            </div>
        </div>
    </div>
}

@* else show something for user here *@

<div class="our-departments d-none d-sm-block ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="our-departments-wrap">
                    <h2>Our Departments</h2>

                    <div class="row">
                        <div class="col-0 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/cardiogram.png" alt="">

                                    <h3>Cardioology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>
                                        Specialists: Professor. Dr. Nguyen Huu Uoc.
                                        <br>
                                        Receiving the most difficult and severe cases of other heart PT centers sent to
                                        treatment, with a high success rate, improving the reputation of the hospital.
                                        Developed according to the model of cardiovascular center and closed chest.
                                    </p>
                                </div>

                                @*<footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>*@
                            </div>
                        </div>

                        <div class="col-0 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/stomach-2.png" alt="">

                                    <h3>Gastroenterology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>
                                        Specialists: Associate Prof. Dr. Pham Duc Huan.
                                        <br>
                                        Hundreds of scientific research projects have been completed and widely used and highly effective,
                                        including many state-level and ministerial-level scientific research projects have been carried out.
                                    </p>
                                </div>

                                @*<footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>*@
                            </div>
                        </div>

                        <div class="col-0 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/blood-sample-2.png" alt="">

                                    <h3>Medical Lab</h3>
                                </header>

                                <div class="entry-content">
                                    <p>
                                        About scientific research: Promote scientific research.
                                        New and advanced techniques, special clinical cases were summarized by scientific staff,
                                        hospital staff to study, exchange and draw experience to improve their professional and service activities.
                                        medical examination and treatment for people.
                                    </p>
                                </div>

                                @*<footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>*@
                            </div>
                        </div>

                        <div class="col-0 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/teeth.png" alt="">

                                    <h3>Dental Care</h3>
                                </header>

                                <div class="entry-content">
                                    <p>
                                        Dean: Dr. Nguyen Hong Ha.<br>
                                        In the last decade, dental technology has experienced dramatic changes and continuous progress.
                                        Many treatment points, many materials, many new devices have been developed to
                                        ensure the treatment results are not only good but also to achieve perfection and optimization.
                                    </p>
                                </div>

                                @*<footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>*@
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/stretcher.png" alt="">

                                    <h3>Surgery</h3>
                                </header>

                                <div class="entry-content">
                                    <p>
                                        Dean: Prof. Dr. Dong Van He.
                                        <br>
                                        Surgical endoscopy of the brain started in 2003. Today, it has applied endoscopy in surgery of
                                        hydrocephalus, brain tumor, skull tumor, functional neurosurgery, cerebral aneurysm surgery.
                                        Successful implementation of state-level research (accepted)
                                        for endoscopic surgery of cranial diseases.
                                    </p>
                                </div>

                                @*<footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>*@
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/scanner.png" alt="">

                                    <h3>Neurology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>
                                        Dean: Dr. Le Hong Nhan.<br>
                                        Initially applying and implementing high techniques on cranial surgery, spinal cord applying
                                        modern technologies in diagnosis and treatment: Endoscopic surgery,
                                        functional neurosurgery, less invasive surgery , vascular surgery, pediatric neurosurgery.
                                    </p>
                                </div>

                                @*<footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>*@
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 mb-md-0">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/bones.png" alt="">

                                    <h3>Orthopaedy</h3>
                                </header>

                                <div class="entry-content">
                                    <p>
                                        Dean: Dr. Nguyen Le Bao Tien.<br>
                                        Applied science and technology applications: Applied, training and transferring advanced
                                        techniques in the world such as precise positioning robot technology in the treatment of
                                        spinal and disease pathology.
                                        The faculty and medical staff of the faculty are always united, unanimous,
                                        unanimous, constantly improving, developing high and intensive techniques,
                                        while improving the quality of
                                </div>

                                @*<footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>*@
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 mb-lg-0">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/blood-donation-2.png" alt="">

                                    <h3>Pediatry</h3>
                                </header>

                                <div class="entry-content">
                                    <p>
                                        Dean: Dr. Nguyen Viet Hoa.<br>
                                        Professional results: Implement an average of 2000 operations / year.
                                        In which, the number of newborn emergency surgeries is 58 cases.
                                        Special and type I surgery: 1000 cases. In particular, with a 3mm type endoscopic kit
                                        for surgery for infants and young children, the department has applied laparoscopic surgery to
                                        perform many specialized diseases such as congenital colitis,
                                        follicle Primary bile duct, neonatal intestinal obstruction, ...
                                    </p>
                                </div>

                                @*<footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>*@
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 mb-0">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/glasses.png" alt="">

                                    <h3>Ophthalmology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>
                                        Dean: Dr. Pham Ngoc Dong.<br>
                                        Receiving emergency medical examination for patients.
                                        - Internal and outpatient treatment for patients under health insurance, patients whose glands are not able to treat.
                                        - Medical examination and treatment for foreigners.
                                        - Medical examination at the request of the Central Medical Evaluation Council.
                                    </p>
                                </div>

                                @*<footer class="entry-footer">
                                        <a href="#">read more</a>
                                    </footer>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="the-news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1><i class="fa fa-trophy" style="color: #f1cf09"></i> Doctor of the month <i class="fa fa-trophy" style="color: #f1cf09"></i></h1>

                <div class="row item-rank-doctor">

                    <div class="col-12">
                        <div class="opening-hours rank1">
                            <h2 class="d-flex align-items-center">Rank 1</h2>

                            <div class="the-news-wrap row">
                                <div class="col-md-6 col-12">
                                    <img style="width: 100%; height: auto;" src="https://bacsigan.com/wp-content/uploads/2017/03/find-a-doctor.jpg " alt="">
                                </div>

                                <div class="col-md-6 col-12 d-flex justify-content-between align-items-center" style="text-align: center; flex-direction: column;">
                                    <h2 style="margin-top: 10px;">Admin</h2>
                                    <p>
                                        It is an honor to be DOTM this month! I will try harder next month to improve my service, because my patients are the BEST! Cheers!
                                    </p>
                                    <img style="width: 30%; height: auto;" src="~/images/signature.png" alt="">
                                    <h3><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h3>


                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subscribe-banner">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h2>Subscribe to our newsletter</h2>

                    <form>
                        <input type="email" placeholder="E-mail address">
                        <input class="button gradient-bg" type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
