<div class="swiper-container hero-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-content-wrap" style="background-image: url('images/123medical.jpg')">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>Chat with Doctors <br>Online</h1>
                            </header><!-- .entry-header -->
                            <div class="entry-content mt-4">
                                <p>With just 2 steps</p>
                            </div><!-- .entry-content -->

                            <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                <a href="/Login" class="button gradient-bg">1. Sign in </a>
                                <a href="/Panel" class="button gradient-bg">2. Join a Room </a>
                            </footer><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->

        <div class="swiper-slide hero-content-wrap" style="background-image: url('images/hero.jpg')">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>Receive<br>Medical Advices</h1>
                            </header><!-- .entry-header -->

                            <div class="entry-content mt-4">
                                <p>From Professional Doctors</p>
                            </div><!-- .entry-content -->

                            <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                <a href="#" class="button gradient-bg">Read More</a>
                            </footer><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->

        <div class="swiper-slide hero-content-wrap" style="background-image: url('images/medical.jpg')">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>Mobile App</h1>
                            </header><!-- .entry-header -->

                            <div class="entry-content mt-4">
                                <p>Advices in your pocket</p>
                            </div><!-- .entry-content -->

                            <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                <a href="#" class="button gradient-bg">Download Here</a>
                            </footer><!-- .entry-footer -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->
    </div><!-- .swiper-wrapper -->

    <div class="pagination-wrap position-absolute w-100">
        <div class="swiper-pagination d-flex flex-row flex-md-column"></div>
    </div><!-- .pagination-wrap -->
</div><!-- .hero-slider -->
<div class="homepage-boxes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="appointment-box the-profile-wrap">
                    <h2 class="d-flex align-items-center">Make a Live Room!</h2>
                    <form method="post" action="@Url.Action("CreateRoom", "Room")" class="d-flex flex-wrap justify-content-between">

                        <input type="text" placeholder="Title" name="Title">

                        <input type="number" placeholder="Price (per min)" name="Price">

                        <input type="number" placeholder="Quota" name="Quota">

                        <input class="button gradient-bg" type="submit" value="Create">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-departments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="our-departments-wrap">
                    <h2>Our Departments</h2>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/cardiogram.png" alt="">

                                    <h3>Cardioology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/stomach-2.png" alt="">

                                    <h3>Gastroenterology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/blood-sample-2.png" alt="">

                                    <h3>Medical Lab</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/teeth.png" alt="">

                                    <h3>Dental Care</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/stretcher.png" alt="">

                                    <h3>Surgery</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/scanner.png" alt="">

                                    <h3>Neurology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 mb-md-0">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/bones.png" alt="">

                                    <h3>Orthopaedy</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 mb-lg-0">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/blood-donation-2.png" alt="">

                                    <h3>Pediatry</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 mb-0">
                            <div class="our-departments-cont">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <img src="images/glasses.png" alt="">

                                    <h3>Ophthalmology</h3>
                                </header>

                                <div class="entry-content">
                                    <p>Lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus.</p>
                                </div>

                                <footer class="entry-footer">
                                    <a href="#">read more</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="the-news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Doctor of the months</h1>

                <div class="row item-rank-doctor">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="opening-hours rank2">
                            <h2 class="d-flex align-items-center">Rank 2</h2>

                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <img src="https://i2-prod.mirror.co.uk/interactives/article12645227.ece/ALTERNATES/s615/doctor.jpg" class="rounded mx-auto d-block" alt="...">
                                    @*<a href="#"><img src="https://i2-prod.mirror.co.uk/interactives/article12645227.ece/ALTERNATES/s615/doctor.jpg" alt=""></a>*@
                                </figure>
                                <header class="entry-header">
                                    <h2 style="margin-top: 10px;text-align: center;">Doctor Flower Gun</h2>

                                    <h3 style="text-align: center;"><i class="fa fa-star" ></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></h3>
                                </header>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="opening-hours rank1">
                            <h2 class="d-flex align-items-center">Rank 1</h2>

                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="https://bacsigan.com/wp-content/uploads/2017/03/find-a-doctor.jpg " alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h2 style="margin-top: 10px;text-align: center;">Doctor Sờ Trym</h2>

                                    <h3 style="text-align: center;"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h3>

                                </header>

                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="opening-hours rank3">
                            <h2 class="d-flex align-items-center">Rank 3</h2>

                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="http://htt.edu.vn/wp-content/uploads/2019/01/1548214315.jpg" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h2 style="margin-top: 10px;text-align: center;">Doctor Strange</h2>

                                    <h3 style="text-align: center;"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></h3>

                                </header>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="subscribe-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h2>Subscribe to our newsletter</h2>

                <form>
                    <input type="email" placeholder="E-mail address">
                    <input class="button gradient-bg" type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>