<div class="homepage-boxes">
        <div class="container">
            <div class="row">
                @if (User.IsInRole("Doctor"))
                {
                <div class="col-12">
                    <div class="appointment-box the-profile-wrap">
                        <h2 class="d-flex align-items-center">Make a Live Room!</h2>

                        <form method="post" action="@Url.Action("CreateNewRoom", "Room")" class="d-flex flex-wrap justify-content-between">

                            <input type="text" placeholder="Title" name="Title">

                            <input type="number" placeholder="Price (per min)" name="Price">

                            <input type="number" placeholder="Quota" name="Quota">

                            <input class="button gradient-bg" type="submit" value="Create">
                        </form>
                    </div>
                </div>
                }
                else {
                <div class="col-12">
                    <div class="row" style="height: 200px;">
                        <div class="col-6">
                            <button class="button gradient-bg" style="width: 100%; height: 100%;">Painel</button>
                        </div>
                        <div class="col-6">
                            <button class="button gradient-bg" style="width: 100%; height: 100%;">Painel</button>
                        </div>
                        
                        
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

    

    

    <div class="the-news mb-5" style="padding:initial;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>DOTM</h2>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="the-news-wrap text-center">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="https://previews.123rf.com/images/anwarsikumbang/anwarsikumbang1502/anwarsikumbang150200445/36649700-man-avatar-user-picture-cartoon-character-vector-illustration.jpg" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Admin</h3>
                                </header>

                                <div class="entry-content">
                                    <h3><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="the-news-wrap text-center">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="https://previews.123rf.com/images/anwarsikumbang/anwarsikumbang1502/anwarsikumbang150200445/36649700-man-avatar-user-picture-cartoon-character-vector-illustration.jpg" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Admin</h3>
                                </header>

                                <div class="entry-content">
                                    <h3><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="the-news-wrap text-center">
                                <figure class="post-thumbnail">
                                    <a href="#"><img src="https://previews.123rf.com/images/anwarsikumbang/anwarsikumbang1502/anwarsikumbang150200445/36649700-man-avatar-user-picture-cartoon-character-vector-illustration.jpg" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Admin</h3>
                                </header>

                                <div class="entry-content">
                                    <h3><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subscribe-banner">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h2>Subscribe to our newsletter</h2>

                    <form>
                        <input type="email" placeholder="E-mail address">
                        <input class="button gradient-bg" type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>