<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-3">
            <div class="sidebar">
                <div class="search-widget">
                    <form class="flex flex-wrap align-items-center">
                        <input type="search" placeholder="Search...">
                        <button type="submit" class="flex justify-content-center align-items-center">Search</button>
                    </form><!-- .flex -->
                </div><!-- .search-widget -->

                <div class="sidebar-cats">
                    <h2 class="widget-title">Categories</h2>

                    <ul class="accordion m-0 p-0" id="accordionExample">
                        <li>
                            <h5 class="text-primary" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                                Specialist
                            </h5>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">

                                <ul class="p-0 m-0">
                                    <li><a href="#">Radiology</a></li>
                                    <li><a href="#">Cardiology</a></li>
                                    <li><a href="#">Gastroenterology</a></li>
                                    <li><a href="#">Neurology</a></li>
                                    <li><a href="#">General surgery</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h5 class="text-primary" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="headingTwo">
                                Facilities
                            </h5>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">

                                <ul class="p-0 m-0">
                                    <li><a href="#">Radiology</a></li>
                                    <li><a href="#">Cardiology</a></li>
                                    <li><a href="#">Gastroenterology</a></li>
                                    <li><a href="#">Neurology</a></li>
                                    <li><a href="#">General surgery</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="the-news">
                <div class="row">
                    <div class="col-12">
                        <div class="the-news-wrap rooms-border">
                            <div class="row">
                                <div class="col-12 col-md-2" style="margin: auto;">
                                    <img src="~/images/news-1.png" alt="" style="height: 100px; width: 100%; object-fit: contain;">
                                </div>
                                <div class="col-12 col-md-8">
                                    <header class="entry-header">
                                        <h4>The latest in Medicine</h4>

                                        <div class="post-metas d-flex flex-wrap align-items-center">
                                            <div class="posted-date"><label>Date: </label><a href="#">April 12, 2018</a></div>

                                            <div class="posted-by"><label>By: </label><a href="#">Dr. Jake Williams</a></div>

                                            <div class="post-comments"><a href="#">2 Comments</a></div>
                                        </div>
                                    </header>
                                </div>
                                <div class="col-12 col-md-2 d-flex justify-content-center border-left" style="margin: auto;">
                                    <footer class="entry-footer">
                                        <p style="font-size: 3rem;">$99</p>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="the-news-wrap rooms-border">
                            <div class="row">
                                <div class="col-12 col-md-2" style="margin: auto;">
                                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" style="height: 100px; width: 100%; object-fit: contain;">
                                </div>
                                <div class="col-12 col-md-8">
                                    <header class="entry-header">
                                        <h4>The latest in Medicine</h4>

                                        <div class="post-metas d-flex flex-wrap align-items-center">
                                            <div class="posted-date"><label>Date: </label><a href="#">April 12, 2018</a></div>

                                            <div class="posted-by"><label>By: </label><a href="#">Dr. Jake Williams</a></div>

                                            <div class="post-comments"><a href="#">2 Comments</a></div>
                                        </div>
                                    </header>
                                </div>
                                <div class="col-12 col-md-2 d-flex justify-content-center border-left" style="margin: auto;">
                                    <footer class="entry-footer">
                                        <p style="font-size: 3rem;">$99</p>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="the-news-wrap rooms-border">
                            <div class="row">
                                <div class="col-12 col-md-2" style="margin: auto;">
                                    <img src="~/images/news-2.png" alt="" style="height: 100px; width: 100%; object-fit: contain;">
                                </div>
                                <div class="col-12 col-md-8">
                                    <header class="entry-header">
                                        <h4>The latest in Medicine</h4>

                                        <div class="post-metas d-flex flex-wrap align-items-center">
                                            <div class="posted-date"><label>Date: </label><a href="#">April 12, 2018</a></div>

                                            <div class="posted-by"><label>By: </label><a href="#">Dr. Jake Williams</a></div>

                                            <div class="post-comments"><a href="#">2 Comments</a></div>
                                        </div>
                                    </header>
                                </div>
                                <div class="col-12 col-md-2 d-flex justify-content-center border-left" style="margin: auto;">
                                    <footer class="entry-footer">
                                        <p style="font-size: 3rem;">$99</p>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>









                    <div class="col-12">
                        <ul class="pagination d-flex flex-wrap align-items-center p-0">
                            <li class="active"><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    