@model Doctor
    <div class="the-profile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="card" style="width: auto;">
                        <img src="@Model.User.Avatar" class="card-img-top" alt="avatar">
                        <div class="card-body text-center">
                            <h5 class="card-title">@Model.User.FullName</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Model.User.Gender.ToString()</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Launch demo modal
                    </button>
                </div>
                <div class="col-9">
                    <div class="appointment-box the-profile-wrap">
                        <h2 class="d-flex align-items-center">Make a Live Room!</h2>

                        <form method="post" action="/Room/Create" class="d-flex flex-wrap justify-content-between">

                            <input type="text" placeholder="Title" name="Title">

                            <input type="number" placeholder="Price (per min)" name="Price">

                            <input class="button gradient-bg" type="submit" value="Create">
                        </form>
                    </div>
                    <div class="calendar-border the-profile-wrap">
                        <h3 class="d-flex align-items-center">Reserve a Room</h3>
                        <div id="calendar" class="p-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<link rel="stylesheet" href="~/lib/fullcalendar/main.min.css">
<script src='~/lib/fullcalendar/main.min.js'></script>
<link rel="stylesheet" href="~/lib/fullcalendar/daygrid/main.min.css">
<script src='~/lib/fullcalendar/daygrid/main.min.js'></script>
<script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid']
            });

            calendar.render();
        });

</script>